@import '../components/magnific-popup';

#modeling-gallery {
	margin-top: 2rem;
	text-align: center;
	// height: 50rem;
}

@media (max-width: 1000px) {
	#modeling-gallery {
		margin-top: .8rem;
		height: auto;
	}
}

/* CLEARFIX
----------------------------------------------- */
 
// .clearboth {
//     display: block;
//     margin: 0;
//     padding: 0;
//     clear: both;
// }
 
/* PORTFOLIO FILTER STYLE
----------------------------------------------- */
 
#portfolio-filter {
    list-style-type: none;
}
 
#portfolio-filter li {
    display: inline;
    // padding-right: 18px;
    &:not(:last-child):after {
		content: " \2022  ";
		color: $secondary-color;
        font-size: 18px;
	}
}

#portfolio-filter li a {
    color: $secondary-color;
	font-family: $open-sans;
    text-decoration: none;
    padding: 0 5px;
    &:hover {
    	color: $highlight-color;
    }
    
}
 
#portfolio-filter li .current{
    color: $highlight-color !important;
}
 
/* PORTFOLIO LIST STYLE
----------------------------------------------- */ 
#portfolio-list {
    list-style-type: none;
}
 
#portfolio-list .portfolio-item {
    margin-right: 5px;
}
 
#portfolio-list .portfolio-item .excerpt a:hover {
    text-decoration: none;
}
